
<section class="index_whole_page_section">
    <div class="index_main_div">
        <h2>Trading Floor</h2>
        <section class="orders_and_leaderbard_section">
            <div class="trading_div">
                <div class="balance_div">
                    <p class="cash_balance_p"> <em>Cash Balance: </em> $ <%= "%.2f" % cash_balance.round(2) %></p>
                    <p class="bitcoin_balance_p"> <em>Bitcoin Balance: </em> BTC <%= "%.8f" % bitcoin_balance.round(8) %></p>

                    <p class="portfolio_value_p"> <em>Portfolio Value: </em> $ <%= "%.2f" % portfolio_value.round(2) %></p>
                </div>

                <div class="orders_div">
                    <% # hidden input "purchase" used to determine if purchase or sale %>
                    <form action="/trade" method="post">
                        <label for="" class="here" >purchase amount: </label>
                        <input type="text" name="trade_amount" class="orders_div_form_input">
                        <input type="hidden" name="purchase"> 
                        <button>execute purchase</button>
                    </form>

                    <form action="/trade" method="post">
                        <label for="">sale amount: </label>
                        <input type="text" name="trade_amount" class="orders_div_form_input">
                        <button>execute sale</button>
                    </form>
                </div>
            </div>

            <div class="leader_board_div">
                <h3>Leaderboard</h3>
                <ol> 
                    <% leaders.each do |leader| %>
                        <li class="leaderboard_user_details_li"> 
                            <a href="/trade_history/<%=leader[0]['id']%>"><%= leader[0]['first_name'] %></a>
                           <span 
                            <% if leader[1] >= 0%>
                                class="positive_value_span"><%="$ " "%.2f" % leader[1] %>
                            <%else%>
                                class="negative_value_span"><%="$ " "%.2f" % leader[1] %>
                            <%end%></span>
                        </li>
                    <%end%>     
                </ol>
            </div>
        </section>

        <div class="chart_widget_div">
            <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                <div id="tradingview_60135"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSD/?exchange=BITSTAMP" rel="noopener" target="_blank"><span class="blue-text">BTCUSD Chart</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                new TradingView.widget(
                {
                "width": 600,
                "height": 373,
                "symbol": "BITSTAMP:BTCUSD",
                "interval": "D",
                "timezone": "Australia/Sydney",
                "theme": "dark",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "container_id": "tradingview_60135"
                }
                );
                </script>
                </div>
            <!-- TradingView Widget END -->
        </div>
    </div>

    <div class="chat_box_div">
        <h3>Chat box</h3>
        <div class="dialog_div">
            <ul class="dialog_ul">
                <%messages.each_with_index do |message, index|%> 
                    <%if index == 0 || message['user_id'] != messages[index - 1]['user_id']%>
                        <p class="chat_username_p">
                        <%if message['user_id'] == session['user_id']%>
                            <span class="session_user_span"><%=get_username_by_id(message['user_id'])%> </span></p>
                        <%else%>
                            <%=get_username_by_id(message['user_id'])%></p>
                        <%end%>
                    <%end%>            
                    <li><%=message['chat']%></li>
                <%end%>
            </ul>
        </div>
        <form action="/messages" method="post" class="chat_message_form">
            <input type="text" name="message" class="chat_message_input">
            <%# <textarea name="comment" form="chat_form" class="chat_message_input"></textarea> %>
        </form>
    </div>
</section>

<script>
    var dialog_div = document.querySelector(".dialog_div");
    dialog_div.scrollTop = dialog_div.scrollHeight;
</script>
